<div class="table-container">
	<header>
		<h2>Founders Table</h2>
	</header>
	<div class="config">
		<i class="tools-icon _openConfig"></i>
	</div>
	<table class="rounded-corner-table">
		<thead>
			<tr>
				<th>Id<i class="sorter"></i></th>
				<th>Company <br/>Name  <i class="sorter"></i></th>
				<th>Founder  <i class="sorter"></i></th>
				<th>City  <i class="sorter"></i></th>
				<th>Country  <i class="sorter"></i></th>
				<th>Postal Code  <i class="sorter"></i></th>
				<th>Street  <i class="sorter"></i></th>
				<th>Photo  <i class="sorter"></i></th>
				<th>Home Page  <i class="sorter"></i></th>
				<th>Garage <br/>Latitude  <i class="sorter"></i></th>
				<th>Garage <br/>Longitude  <i class="sorter"></i></th>
				<th>Show</th>
			<tr>
		</thead>
		<tfoot>
			{{#showTfoot}}
			<tr>
				<td colspan="12" class="no-results _addNew">
					There is no data to show, be the first adding your project! Click here to add it!
				</td>
			</tr>
			{{/showTfoot}}
		</tfoot>
		<tbody>
			{{#each rows}}
				<tr>
					<td class="_id">{{checkContent id}}</td>
					<td class="">{{checkContent companyName}}</td>
					<td class="">{{checkContent founder}}</td>
					<td class="">{{checkContent city}}</td>
					<td class="">{{checkContent country}}</td>
					<td class="">{{checkContent postalCode}}</td>
					<td class="">{{checkContent street}}</td>
					<td class="">{{checkContent photo}}</td>
					<td class="">{{checkContent homePage}}</td>
					<td class="">{{checkContent garageLatitude}}</td>
					<td class="">{{checkContent garageLongitude}}</td>
					<td class=""><input type="checkbox" checked class="_toggleVisibility"></td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</div>