<div class="table-container">
	<header>
		<h2>Founders Table</h2>
	</header>
	<table class="rounded-corner-table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Company Name</th>
				<th>Founder</th>
				<th>City</th>
				<th>Country</th>
				<th>Postal Code</th>
				<th>Street</th>
				<th>Photo</th>
				<th>Home Page</th>
				<th>Garage Latitude</th>
				<th>Garage Longitude</th>
			<tr>
		</thead>
		<tfoot>
			{{#showTfoot}}
			<tr>
				<td colspan="11" class="no-results _addNew">
					There is no data to show, be the first adding your project! Click here to add it!
				</td>
			</tr>
			{{/showTfoot}}
		</tfoot>
		<tbody>
			{{#each rows}}
				<tr>
					<td class="">{{checkImage id}}</td>
					<td class="">{{checkImage companyName}}</td>
					<td class="">{{checkImage founder}}</td>
					<td class="">{{checkImage city}}</td>
					<td class="">{{checkImage country}}</td>
					<td class="">{{checkImage postalCode}}</td>
					<td class="">{{checkImage street}}</td>
					<td class="">{{checkImage photo}}</td>
					<td class=""><a href="{{homePage}}" target="_blank">{{homePage}}</a></td>
					<td class="">{{garageLatitude}}</td>
					<td class="">{{garageLongitude}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</div>