{{#each rows}}
	<tr>
		<td class="">{{id}}</td>
		<td class="">{{companyName}}</td>
		<td class="">{{founder}}</td>
		<td class="">{{city}}</td>
		<td class="">{{country}}</td>
		<td class="">{{postalCode}}</td>
		<td class="">{{street}}</td>
		<td class=""><a href="#" class="_imgView"><img src="{{photo}}" width="60px"></a></td>
		<td class=""><a href="{{homePage}}" target="_blank">{{homePage}}</a></td>
		<td class="">{{garageLatitude}}</td>
		<td class="">{{garageLongitude}}</td>
	</tr>
{{/each}}